/* App.css */

.container {
  max-width: 800px;
  margin: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Heading_app {
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 200;
  align-content: center;
  color:black;
  margin-left: 250PX;

}
.Apnabutton {
  font-weight: 200;
  color:black;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  align-content: center;
  color:black;
  margin-left: 240px;
  border-color: black;
}