/* Total.css */

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-style: dotted;
    border-width: 2px;
    width: 400px;
    height:400px;
    border-radius: 3px;
  }
  
  .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .image-container img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ccc;
    border-color: black;
    border-radius: 5px;
    margin-left:25px;
  }
  
  .count {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: black;
  }
  